apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rookout-data-on-prem-pvc
spec:
  storageClassName: {{ .Values.pvc.storageClassName }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.pvc.messagesVolumeSize }}
