---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "controller.fullname" . }}
  labels:
    app: {{ template "controller.name" . }}
    chart: {{ template "controller.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels: 
      app: {{ template "controller.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "controller.name" . }}
        release: {{ .Release.Name }}
        {{- if .Values.controller.labels }}
        {{ toYaml .Values.controller.labels | indent 8 }}
        {{- end }}
    spec:
      containers:
        - name: {{ .Release.Name }}-{{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
{{ toYaml .Values.controller.resources | indent 12 }}
          env:
            - name: ROOKOUT_TOKEN
              valueFrom:
                secretKeyRef:
{{- if (.Values.controller.tokenFromSecret) }}
{{ toYaml .Values.controller.tokenFromSecret | indent 18 }}
{{- else }}
                  name: rookout
                  key: token
{{- end }}
            - name: ROOKOUT_LISTEN_ALL
              value: {{ .Values.controller.listenAll | quote }}
            - name: ROOKOUT_AGENT_MAX_CPU
              value: {{ .Values.controller.internalResources.limits.cpu | quote }}
            - name: ROOKOUT_AGENT_MAX_MEMORY
              value: {{ .Values.controller.internalResources.limits.memory | quote }}
          ports:
            - name: websocket
              containerPort: 7488
          livenessProbe:
            tcpSocket:
              port: 7488
            initialDelaySeconds: 15
            periodSeconds: 20
